.scroll {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: scrollbar;
  overflow-x: hidden;
  overflow-y: auto;
}

.dropform-container,
.backshade,
.dropform {
  top: 0;
  left: 0;
  right: 0;
}
.dropform-container,
.backshade {
  z-index: 10;
  position: absolute;
  bottom: 0;
}
.backshade {
  background-color: rgba(0,0,0,0.2);
}
.dropform {
  position: fixed;
  background-color: color(white);
  top: 0;
  z-index: 20;
  max-height: 100vh;
  border-bottom: thin solid color(grey);
  box-shadow: 0 2px 4px rgba(0,0,0,0.18);
}
.actions {
  display: flex;
  background: lighten(color(greyLight), 20%);
  position: sticky;
  bottom: 0;

  button {
    &:hover {
      background-color: darken(color(white), 5%);
    }
  }
}
